/* FONTS */
@font-face {
    font-family: 'Nunito Sans';
    src: url('../fonts/NunitoSans-ExtraBold.woff2') format('woff2'),
        url('../fonts/NunitoSans-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito Sans';
    src: url('../fonts/NunitoSans-Regular.woff2') format('woff2'),
        url('../fonts/NunitoSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito Sans';
    src: url('../fonts/NunitoSans-Light.woff2') format('woff2'),
        url('../fonts/NunitoSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito Sans';
    src: url('../fonts/NunitoSans-SemiBold.woff2') format('woff2'),
        url('../fonts/NunitoSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}


/* CUSTOM-PROPS */
:root {
    --text-color: #111517;
    --body-bg: #f2f2f2;
    --element-bg: #fff;
    --text-font: 'Nunito Sans', 'Arial', sans-serif;
    --transition-duration: 0.4s
}


/* GLOBAL */
html {
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: var(--text-font);
    font-size: 14px;
    line-height: 16px;
    color: var(--text-color);
    background-color: var(--body-bg);
    transition: color var(--transition-duration) ease,
        background-color var(--transition-duration) ease;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

.dark-mode {
    --text-color: #fff;
    --body-bg: #202c36;
    --element-bg: #2b3844;
}


/* CONTAINER */
.container {
    width: 100%;
    max-width: 1320px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}


/* MAIN CONTENT */
.main-content {
    flex-grow: 1;
    padding-top: 48px;
    padding-bottom: 48px;
}

.main-content-inner {
    padding-top: 80px;
}


/* SITE-HEADER */
.site-header {
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: var(--element-bg);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06);
    white-space: nowrap;
}

.site-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.site-header-logo {
    font-weight: 800;
    font-size: 24px;
    line-height: normal;
    color: var(--text-color);
}

.site-header-logo:hover {
    opacity: 0.8;
}

.site-header-logo:active {
    opacity: 0.6;
}

.site-header-theme-toggler {
    padding: 0;
    border: none;
    color: var(--text-color);
    background-color: transparent;
    cursor: pointer;
    margin-left: auto;
}

.site-header-theme-toggler:hover {
    opacity: 0.8;
}

.site-header-theme-toggler:active {
    opacity: 0.6;
}

.site-header-theme-toggler-inner {
    display: flex;
    align-items: flex-start;
}

.site-header-theme-toggler-text {
    margin-left: 8px;
    font-size: 16px;
    line-height: normal;
    font-weight: 600;
}


/* FORM-FILTER */
.filters {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 48px;
}

.filters-search-wrapper {
    position: relative;
    width: 100%;
    max-width: 480px;
    margin-right: 26px;
}

.filters-search-icon {
    position: absolute;
    left: 32px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--text-color);
    pointer-events: none;
}

.filters-search-input {
    width: 100%;
    padding: 18px 74px;
    background-color: var(--element-bg);
    color: var(--text-color);
    border-radius: 5px;
    border: none;
    box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.05);
}

.filters-search-input::placeholder {
    color: var(--text-color);
}

.filters-region-select {
    width: 200px;
    padding: 18px 24px;
    background-color: var(--element-bg);
    color: var(--text-color);
    border: none;
    border-radius: 5px;
    box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.05);
}


/* INDEX_COUNTRIES */
.index-countries-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    margin-left: -75px;
    margin-bottom: -75px;
    list-style: none;
}

.index-countries-item {
    width: calc(25% - 75px);
    margin-left: 75px;
    margin-bottom: 75px;
}


/* INDEX-COUNTRY */
.index-country {
    border-radius: 5px;
    overflow: hidden;
    color: var(--text-color);
    background-color: var(--element-bg);
    box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.03);
}

.index-country-flag {
    width: 264px;
    height: 160px;
    object-fit: cover;
}

.index-country-info {
    padding: 24px 24px 48px;
}

.index-country-name {
    margin-top: 0;
    margin-bottom: 16px;
    font-weight: 800;
    font-size: 18px;
    line-height: 26px;
}

.index-country-link {
    color: var(--text-color);
}

.index-country-details {
    margin: 0;
}

.index-country-details-item {
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    line-height: 16px;
}

.index-country-details-item:not(:last-child) {
    margin-bottom: 8px;
}

.index-country-details-title {
    font-weight: 600;
}

.index-country-details-value {
    margin-left: 4px;
    font-weight: 300;
}


/* COUNTRY PAGE*/
.country-page-back-wrapper {
    margin-bottom: 80px;
}

.country-page-back-link {
    display: inline-flex;
    align-items: center;
    padding: 10px 40px;
    color: var(--text-color);
    background-color: var(--element-bg);
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    transition: background-color var(--transition-duration) ease,
        color var(--transition-duration) ease;
}

.country-page-back-link:hover {
    opacity: 0.8;
}

.country-page-back-link:active {
    opacity: 0.6;
}

.country-page-back-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.country-page-back-text {
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
}

.country-page-flag-info {
    display: flex;
    align-items: flex-start;
}

.country-page-flag {
    width: 100%;
    max-width: 560px;
    height: 400px;
    margin-right: 120px;
    background-color: #808080;
    box-shadow: 0px 0px 14px 4px rgba(0, 0, 0, 0.03);
    border-radius: 10px;
    object-fit: cover;
}

.country-page-info {
    flex-grow: 1;
}

.country-page-title {
    margin-top: 0;
    margin-bottom: 24px;
    font-weight: 800;
    font-size: 32px;
    line-height: normal;
}

.country-page-dls-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 70px;
}

.country-page-details {
    margin: 0;
    margin-right: 26px;
}

.country-page-details-item {
    display: flex;
    flex-wrap: wrap;
}

.country-page-details-item:not(:last-child) {
    margin-bottom: 12px;
}

.country-page-details-title {
    margin-right: 4px;
    font-weight: 600;
}

.country-page-details-value {
    margin: 0;
    font-weight: 300;
}

/* COUNTRY-PAGE-BORDER-COUNTRIES */
.country-page-border-countries {
    display: flex;
    align-items: flex-start;
}

.country-page-border-countries-heading {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 15px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    white-space: nowrap;
}

.country-page-border-countries-list {
    display: flex;
    flex-wrap: wrap;
}

.country-page-border-countries-link {
    min-width: 96px;
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 5px 10px;
    background-color: var(--element-bg);
    color: var(--text-color);
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    text-align: center;
    transition: background-color var(--transition-duration) ease,
        color var(--transition-duration) ease;
}

.country-page-border-countries-link:not(:last-child) {
    margin-right: 10px;
}

.country-page-border-countries-link:hover {
    opacity: 0.8;
}

.country-page-border-countries-link:active {
    opacity: 0.6;
}

@media only screen and (max-width: 1200px) {
    .country-page-flag {
        margin-right: 100px;
    }
}

@media only screen and (max-width: 1100px) {
    .index-countries-item {
        width: calc(33% - 75px);
    }

    .index-country-flag {
        width: 100%;
    }

    .index-country-info {
        padding: 18px 18px 36px;
    }

    .country-page-flag {
        max-width: 460px;
    }

    .country-page-dls-wrapper {
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 1000px) {
    .country-page-flag {
        margin-right: 80px;
    }
}

@media only screen and (max-width: 800px) {
    .index-countries-item {
        width: calc(50% - 75px);
    }

    .country-page-flag-info {
        flex-direction: column;
    }

    .country-page-flag {
        max-width: 560px;
        height: auto;
        margin-right: 0;
        margin-bottom: 36px;
    }
}

@media only screen and (max-width: 600px) {
    .filters {
        flex-wrap: wrap;
        justify-content: flex-end;
    }

    .filters-search-wrapper {
        max-width: 100%;
        margin-right: 0;
        margin-bottom: 16px;
    }
}

@media only screen and (max-width: 500px) {
    .site-header-container {
        flex-wrap: wrap;
    }
    .site-header-logo {
        margin-right: 26px;
    }

    .site-header-theme-toggler-text {
        display: none;
    }

    .index-countries-list {
        justify-content: center;
    }

    .index-countries-item {
        width: 100%;
        max-width: 265px;
    }
}

@media only screen and (max-width: 400px) {
    .main-content {
        padding-top: 38px;
        padding-bottom: 38px;
    }

    .filters-search-icon {
        left: 16px;
    }

    .filters-search-input {
        padding: 16px 40px;
    }

    .filters-region-select {
        padding: 10px 18px;
    }
}